@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');
body{
    /*background-color: #393E46;*/
    font-family: 'Montserrat', sans-serif;
}
hr{
    border: dotted #000000 6px;
    border-bottom: none;
    width: 60%;
    margin: 20px auto;
}
.navbar{
    top: 0;
    background: rgba(57, 62, 70, 0.0);
    padding: 20px 40px 0 40px;
}
.nav-item{
    padding: 0 30px ;
}
.home-image{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0.4;
    z-index: -1;
}
.home-image-cover{
    position: relative;
}
.subscriptions-heading{
    padding-top: 50px;
}
.subscriptions{
    width: 90%;
    margin: 60px auto;
    background-color: #EEEEEE;
    padding: 20px;
    border-radius: 10px
}
.subscriptions-item{
    margin: 20px;
    width: 250px;
    height:450px;
    border-radius: 15px;
}
.subscriptions-image{
    width: 100%;
    height: 50%;
    background-color: white;
    border-radius: 15px;
}
.subscription-details{
    margin: 10px 0 0 0;
    height: 100px;
}
.button-custom {
    margin-top: 20px;
    width: 50%;
    min-width: max-content;
    border-radius: 20px;
    height: 50px;
    background-color: #00ADB5;
    border-color: #00ADB5;
}
.button-custom:hover {
  background-color: #008a90;
  border-color: #008a90;
  color: white;
}
.search-box{
    padding: 20px 20px;
    margin: 200px 40px 0 40px;
    background-color: #EEEEEE;
    border-radius: 10px
}
