{% extends 'base.html' %}
{% block content %}
<button class="btn btn-dark" style="margin: 120px 0 0 20px" onclick="goBack()"><i class="fa-solid fa-reply" style="margin: 10px"></i></button>
<div class="middle-container">
    <div class="skills">
        <div class="subscriptions row justify-content-center">
            <div class="col-12 text-center">
                <h2 style="margin: 0 auto">Search Result</h2>
            <hr>
                {% if not songs %}
                    <h3>No songs found.</h3>
                {% endif %}
            </div>
            {% for song in songs %}
                <div class="subscriptions-item col-lg-3 col-md-6 text-center">
                    <form action="{{ url_for('add_subscription') }}" method="post">
                        <img class="subscriptions-image" src="data:image/jpeg;base64,{{ song['image_data']}}" alt="">
                        <div class="subscription-details">
                            <h5>{{song['title']}}</h5>
                            <h6>{{song['artist']}}</h6>
                            <p>{{song['year']}}</p>
                        </div>
                        {% if not song['subscribed'] %}
                                <button class="btn button-custom">Subscribe</button>
                        {% endif %}
                        <input type="hidden" name="title" value="{{ song['title'] }}">
                        <input type="hidden" name="artist" value="{{ song['artist'] }}">
                        <input type="hidden" name="year" value="{{ song['year'] }}">
                        <input type="hidden" name="path" value="{{ song['img_url'] }}">
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
