{% extends 'base.html' %}
{% block content %}
<form method="post" action="{{ url_for('find_songs') }}">
    <div class="row justify-content-center" style="padding: 0 20px;margin-top: 200px">
        <div class="col-lg-4 col-md-8">
            <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fa fa-music"></i></span>
                    <input class="form-control" id="title" name="title" placeholder="Enter Song Title" value="">
                </div>
        </div>
        <div class="col-lg-3 col-md-5">
            <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                    <input class="form-control" id="artist" name="artist" placeholder="Enter Artist" value="">
                </div>
        </div>
        <div class="col-lg-3 col-md-5">
            <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    <input class="form-control" id="year" name="year" placeholder="Enter Release Year" value="">
                </div>
        </div>
        <div class="col-10 text-center">
            <button class="btn button-custom">Search</button>
        </div>
    </div>

</form>
{% endblock %}